﻿@model nexos.Models.ViewModels.AutorViewModel
@{
    ViewBag.Title = "RegistroAutor";
}


@using (Html.BeginForm())
{
    <div class="card shadow-lg bg-white">
        <div class="card-header">
            <h2 class="card-title text-center">Registro de Autores</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del Autor</h5>
            <div class="row">
                <div class="col-6">
                    <span>Nombre Completo *</span>
                    @Html.TextBoxFor(model => model.NombreCompleto, new { @class = "form-control", @required = "required" })
                </div>
                <div class="col-6">
                    <span>Fecha de Nacimiento *</span>
                    @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", @type = "date", @required = "required" })
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span>Ciudad de Procedencia *</span>
                    @Html.TextBoxFor(model => model.CiudadProcedencia, new { @class = "form-control", @required = "required"})
                </div>
                <div class="col-6">
                    <span>Correo *</span>
                    @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", @required = "required" })
                </div>
            </div>

            <div class="row mt-4 mb-2">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block">Registrar Autor</button>
                </div>
            </div>
        </div>
    </div>
    if (Model.AutorList.Count() == 0)
    {
        <div class="row mt-4">
            <div class="col-12">
                <div class="card shadow-lg bg-white">
                    <div class="card-body">
                        <h2 class="card-title text-center">Aún no se han registrado autores ...</h2>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row mt-4">
            <div class="col-12">
                <div class="card shadow-lg bg-white">
                    <div class="table-responsive">
                        <table class="table border bg-white">
                            <thead style="background-color: #0693e3;" class="thead text-center">
                                <tr>
                                    <th style="color: white;">Nombre Autor</th>
                                    <th style="color: white;">Fecha Nacimiento</th>
                                    <th style="color: white;">Ciudad de Procedencia</th>
                                    <th style="color: white;">Correo</th>
                                </tr>
                            </thead>
                            <tbody class="text-center bg-light">
                                @foreach (var item in Model.AutorList)
                                {
                                    <tr>
                                        <td>@item.NombreCompleto</td>
                                        <td> @Html.ValueFor(modelItem => item.FechaNacimiento, "{0:dd/MM/yyyy}")</td>
                                        <td>@item.CiudadProcedencia</td>
                                        <td>@item.Correo</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}

@*<script type="text/javascript">
    alertify.alert("Campos Vacíos o Erroneos", "Por favor complete todos los campos e intentelo de nuevo");
</script>*@
@*@if (ViewBag.error != null)
{
    <script type="text/javascript">
        alertify.alert("Campos vacíos o erroneos", "Por favor complete todos los campos e intentelo de nuevo");
    </script>
}*@                     