﻿@model nexos.Models.ViewModels.LibroViewModel
@{
    ViewBag.Title = "RegistroLibro";
}


@using (Html.BeginForm())
{
    <div class="card shadow-lg bg-white">
        <div class="card-header">
            <h2 class="card-title text-center">Registro de Libros</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del Libro</h5>
            <div class="row">
                <div col-12>
                    <div class="alert alert-warning text-center" role="alert">
                        El máximo número de libros permitidos es de <strong>5</strong> por autor.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span>Titulo *</span>
                    @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Titulo, null, new { @class = "red" })
                </div>
                <div class="col-6">
                    <span>Año</span>
                    @Html.TextBoxFor(model => model.Ano, new { @class = "form-control", @type = "number", @min = 1800 })


                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <span>Genero *</span>
                    @Html.TextBoxFor(model => model.Genero, new { @class = "form-control", @required = "required" })
                </div>
                <div class="col-6">
                    <span>Numero Páginas</span>
                    @Html.TextBoxFor(model => model.NumeroPaginas, new { @class = "form-control", @type = "number", @min = 1 })
                </div>
            </div>
            <div class="row">
                @if (Model.AutorList.Count() == 0)
                {
                    <div class="col-12 mt-4">
                        <h2 class="text-center">Es necesario que primero registre el autor del libro ...</h2>
                    </div>

                }
                else
                {
                    <div class="col-6">
                        <span>Autor *</span>
                        @Html.DropDownListFor(m => m.IdAutor, new SelectList(Model.AutorList, "IdAutor", "NomBreCompleto"), new { @class = "input form-control input-lg", @required = "required", @style = "height: 40px; font-size:16px" })
                    </div>
                }
            </div>

            <div class="row mt-4 mb-2">
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block">Registrar Libro</button>
                </div>
            </div>

        </div>
    </div>

}


@using (Html.BeginForm("BuscarLibro", null, FormMethod.Post))
{
    if (Model.LibroList.Count() == 0)
    {
        <div class="row mt-4">
            <div class="col-12">
                <div class="card shadow-lg bg-white">
                    <div class="card-body">
                        <h2 class="card-title text-center">Aún no se han registrado libros ...</h2>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row mt-4">
            <div class="col-12">
                <div class="card shadow-lg bg-white">
                    <div class="row">
                        <div class="col-12">
                            <h6>Realizar búsqueda:   Titulo - Año - Autor</h6>
                            <div class="input-group mb-3">
                                @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @placeholder = "Titulo" })
                                @Html.TextBoxFor(model => model.Ano, new { @class = "form-control", @type = "number", @min = 0, @placeholder = "Titulo" })
                                @Html.TextBoxFor(model => model.NombreAutor, new { @class = "form-control", @placeholder = "Autor" })
                                <button type="submit" class="btn btn-primary">
                                    Buscar <i class="fas fa-search fa-lg"></i>
                                </button>
                                <a class="btn btn-secondary" title="Recargar" href="@Url.Action("RegistroLibro","Libro")">
                                    Recargar Información <i class="fa fa-refresh" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table border bg-white">
                            <thead style="background-color: #0693e3;" class="thead text-center">
                                <tr>
                                    <th style="color: white;">Titulo</th>
                                    <th style="color: white;">Año</th>
                                    <th style="color: white;">Genero</th>
                                    <th style="color: white;">Número de Páginas</th>
                                    <th style="color: white;">Autor</th>
                                </tr>
                            </thead>
                            <tbody class="text-center bg-light">
                                @foreach (var item in Model.LibroList)
                                {
                                    <tr>
                                        <td>@item.Titulo</td>
                                        <td>@item.Ano</td>
                                        <td>@item.Genero</td>
                                        <td>@item.NumeroPaginas</td>
                                        <td>@item.NombreAutor</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }

}

@if (ViewBag.error != null)
{
    <script type="text/javascript">
        alertify.alert("Supera el máximo permitido", "No es posible registrar el libro, se alcanzó el máximo permitido.");
    </script>
}
